# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
**/launchSettings.json

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio 2015 cache/options directory
.vs/

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Ignore JetBrains Rider workspace
workspace.xml

# More build results
/packages/
target/
